body {
  background: #0075FF;
  min-width: 400px;
  height: 100%;
}

.App {
  background: linear-gradient(111.84deg, rgba(6, 11, 38, 0.94) 59.3%, rgba(26, 31, 55, 0) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
  text-align: center;
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: calc(4px + 2vmin);
  text-decoration: none;
  cursor: pointer;
}

